@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Light.ttf);
}

:root {
  --font-family-sans: Roboto, sans-serif;
  /* Font sizes. */
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2rem;
  --font-size-4xl: 3rem;

  /* Line heights. */
  --line-height-sm: 1.25;
  --line-height-md: 1.5;

  /* Letter spacings. */
  --letter-spacing-sm: 0.05em;
  --letter-spacing-md: 0.1em;

  --main-bg-color: #393f5f;
  --main-color-light: #ecedf3;
  --main-color-dark: #000000;
  --scheme1-bg-color: #e96d5e;
  --scheme2-bg-color: #ff9760;
  --scheme3-bg-color: #ffe69d;
  --scheme4-bg-color: #6a7e6a;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-color-light);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
}

.scheme1 {
  background-color: var(--scheme1-bg-color);
  color: var(--main-color-light);
  border-radius: 4px 0 4px 0;
  border-color: var(--scheme2-bg-color);
  border-width: 1px;
  border-style: solid;
}

.scheme2 {
  background-color: var(--scheme2-bg-color);
  color: var(--main-color-dark);
  border-radius: 4px 0 4px 0;
  border-color: var(--scheme3-bg-color);
  border-width: 1px;
  border-style: solid;
}

.scheme3 {
  background-color: var(--scheme3-bg-color);
  color: var(--main-color-dark);
  border-radius: 4px 0 4px 0;
  border-color: var(--scheme4-bg-color);
  border-width: 1px;
  border-style: solid;
}

.scheme4 {
  background-color: var(--scheme4-bg-color);
  color: var(--main-color-light);
  border-radius: 4px 0 4px 0;
  border-color: var(--scheme1-bg-color);
  border-width: 1px;
  border-style: solid;
}

.svg-item {
  width: 100%;
  font-size: 16px;
  margin: 0 auto;
  animation: donutfade 1s;
}

@keyframes donutfade {
  /* this applies to the whole svg item wrapper */
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .svg-item {
    width: 80%;
  }
}

.donut-ring {
  stroke: var(--scheme3-bg-color);
}

.donut-segment {
  transform-origin: center;
  stroke: #ff6200;
}

.donut-segment-2 {
  stroke: var(--scheme4-bg-color);
  animation: donut1 3s;
}

.donut-segment-3 {
  stroke: #d9e021;
  animation: donut2 3s;
}

.donut-segment-4 {
  stroke: #ed1e79;
  animation: donut3 3s;
}

.segment-1 {
  fill: #ccc;
}
.segment-2 {
  fill: aqua;
}
.segment-3 {
  fill: #d9e021;
}
.segment-4 {
  fill: #ed1e79;
}

.donut-percent {
  animation: donutfadelong 1s;
}

@keyframes donutfadelong {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes donut1 {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
    stroke-dasharray: 22, 78;
  }
}

@keyframes donut2 {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
    stroke-dasharray: 30, 70;
  }
}

@keyframes donut3 {
  0% {
    stroke-dasharray: 0, 100;
  }
  100% {
    stroke-dasharray: 1, 99;
  }
}

.donut-text {
  font-family: Arial, Helvetica, sans-serif;
  fill: #ff6200;
}
.donut-text-1 {
  fill: aqua;
}
.donut-text-2 {
  fill: #d9e021;
}
.donut-text-3 {
  fill: #ed1e79;
}

.donut-label {
  font-size: 0.28em;
  font-weight: 700;
  line-height: 1;
  fill: #000;
  transform: translateY(0.25em);
}

.donut-percent {
  font-size: 0.5em;
  line-height: 1;
  transform: translateY(0.5em);
  font-weight: bold;
}

.donut-data {
  font-size: 0.12em;
  line-height: 1;
  transform: translateY(0.5em);
  text-align: center;
  text-anchor: middle;
  color: #666;
  fill: #666;
  animation: donutfadelong 1s;
}
