body {
}

::deep .stat {
  text-align: center;
  font-size: 0.8rem;
}

::deep .bonus-input .mud-input {
  margin-top: 0!important;
}

::deep .bonus-input input {
  width: 100%;
  font-size: 2.3rem;
  text-align: center;
}

::deep .score-input .mud-input {
  margin-top: 0 !important;
}

::deep .score-input input {
  width: 100%;
  text-align: center;
}

::deep .score-plus input {
  color: green;
}

::deep .score-minus input {
  color: red;
}